.search-bar {
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: 1px solid gainsboro;
  background-color: #ffffff;
  input[type="search"] {
    padding: 12px 24px;
    background-color: transparent;
    font-size: 24px;
    border: none;
    outline: none;
    color: black;
    min-width: 0;
    flex-grow: 1;
  }
  button {
    background-color: transparent;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    &:active {
      background-color: rgba(255, 255, 255, 0.8);
    }
    img {
      padding: 12px;
      pointer-events: none;
    }
  }
}
