.header {
  z-index: 999;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    .icon {
      height: 60px;
      width: 60px;
      transition: scale 0.3s ease;
      &:hover {
        scale: 1.2;
      }
    }
    .text {
      font-size: 40px;
      font-weight: 500;
      width: max-content;
    }
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    padding: 0 3%;
    .logo {
      .text {
        display: none;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    padding: 0 5%;
    .logo {
      .text {
        display: none;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    padding: 0 8%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    padding: 0 10%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    .logo {
      .text {
        display: block;
      }
    }
  }
}
